<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e1d2a0ec-a928-40a4-9445-ce2e75486d6c/resourcegroups/sqlresx1/providers/Microsoft.Web/sites/BankManagementSystem2019</ResourceId>
    <ResourceGroup>sqlresx1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bankmanagementsystem2019.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>bankmanagementsystem2019.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BankManagementSystem2019</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BankManagementSystem2019</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:securitysrv.database.windows.net,1433;Initial Catalog=kazi2;Persist Security Info=False;User ID=habib;Password=@Open1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:securitysrv.database.windows.net,1433;Initial Catalog=kazi2;Persist Security Info=False;User ID=habib;Password=@Open1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WebFormsIdentity.mdf;Initial Catalog=WebFormsIdentity;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WebFormsIdentity.mdf;Initial Catalog=WebFormsIdentity;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:storesrv.database.windows.net,1433;Initial Catalog=kazi1;Persist Security Info=False;User ID=habib;Password=@Open123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:storesrv.database.windows.net,1433;Initial Catalog=kazi1;Persist Security Info=False;User ID=habib;Password=@Open123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbModelContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:storesrv.database.windows.net,1433;Initial Catalog=kazi1;Persist Security Info=False;User ID=habib;Password=@Open123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:storesrv.database.windows.net,1433;Initial Catalog=kazi1;Persist Security Info=False;User ID=habib;Password=@Open123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbModelContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:securitysrv.database.windows.net,1433;Initial Catalog=kazi2;Persist Security Info=False;User ID=habib;Password=@Open1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DbModelContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="server=tcp:storesrv.database.windows.net,1433;initial catalog=kazi1;persist security info=False;user id=habib;password=@Open123;multipleactiveresultsets=False;encrypt=True;trustservercertificate=False;connection timeout=30;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>Server=tcp:storesrv.database.windows.net,1433;Initial Catalog=kazi1;Persist Security Info=False;User ID=habib;Password=@Open123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>